* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
  width: 100%;
  columns: 5;
  column-gap: 15px;
}

img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

@font-face {
  font-family: CeraRound;
  src: url("../fonts/ceraroundpro-regular.otf") format("opentype");
}

html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: CeraRound-bold;
  src: url("../fonts/ceraroundpro-bold.otf") format("opentype");
}

@media (min-width: 960px) {
  body {
    background: #0b1329;
    font-family: CeraRound;
    height: 100%;
    width: 100%;
  }

  .navbar {
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-size: 150%;
  }

  .navbar-brand {
    font-size: 150%;
    color: white;
  }

  .nav-link {
    color: white;
  }

  .navbar-toggler-icon {
    outline-color: white;
  }

  .scene {
    height: auto;
    width: 100vw;
  }

  .scene i {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: animate linear infinite;
  }

  .navbar-item {
    padding-left: 1%;
    padding-right: 1%;
  }

  h1 {
    color: white;
    font-family: CeraRound-bold;
    font-size: 500%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    text-align: right;
  }

  p {
    color: white;
    font-family: CeraRound;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  .ud {
    color: white;
    font-family: CeraRound;
    text-align: center;
  }
}

@media (max-width: 960px) {
  body {
    background: #0b1329;
    font-family: CeraRound;
  }

  .navbar {
    padding-left: 10%;
    padding-right: 5%;
    color: white;
    font-size: 175%;
    font-family: CeraRound-bold;
  }

  .navbar-brand {
    font-family: CeraRound-bold;
    font-size: 200%;
    color: white;
  }

  .nav-link {
    color: white;
  }

  .navbar-item {
    padding-left: 1%;
    padding-right: 1%;
  }

  h1 {
    color: white;
    font-family: CeraRound-bold;
    font-size: 300%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    text-align: center;
  }

  p {
    color: white;
    font-family: CeraRound;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  .scene {
    height: auto;
    width: 100vw;
  }

  .scene i {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: animate linear infinite;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-100px);
  }
}
