@font-face {
  font-family: CeraRound;
  src: url("../fonts/ceraroundpro-regular.otf") format("opentype");
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #0b1329;
  font-family: CeraRound;
  height: 100%;
  width: 100%;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  font-size: 150%;
}

.navbar-brand {
  font-size: 150%;
  color: white;
}

.nav-link {
  color: white;
}

.navbar-toggler-icon {
  outline-color: white;
}

.scene {
  height: auto;
  width: 100vw;
}

.scene i {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-100px);
  }
}
