@font-face {
    font-family: CeraRound;
    src: url("../fonts/ceraroundpro-regular.otf") format("opentype");
}

@font-face {
    font-family: CeraRound-bold;
    src: url("../fonts/ceraroundpro-bold.otf") format("opentype");
}

body {
    background: #0B1329;
    font-family: CeraRound;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-size: 175%;
    font-family: CeraRound-bold;
}

.navbar-brand {
    font-family: CeraRound-bold;
    font-size: 200%;
    color:white;
}

.nav-link {
    color: white;
}

.navbar-item {
    padding-left: 1%;
    padding-right: 1%;
}
